@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

:root {
    scroll-behavior: smooth;
}

* {
    transition: all 0.01s ease-in-out;
}
.gradient {
    --size: 250px;
    --speed: 50s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background-color: hsl(158, 82, 57, 85%);
    background-image: -webkit-linear-gradient(
        hsl(158, 82, 57, 85%),
        hsl(252, 82, 57)
    );
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

@media (min-width: 720px) {
    .gradient {
        --size: 500px;
    }
}

.cnt {
    background: rgba(144, 144, 144, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.services {
    padding: 0.8rem;
    margin: 0.4rem;
    border: 1px solid #b249f8;
    border-radius: 0.5rem;

    text-align: center;
}
.services-dynamic {
    padding: 0.8rem;
    margin: 0.4rem;
    border: 3px solid #b249f8;
    border-radius: 0.5rem;

    text-align: center;
}
.services hr {
    margin: 1rem;
}
.services-dynamic hr {
    margin: 1rem;
}
